@page "/about"
<PageTitle>About us | BlazingBlog</PageTitle>
<div class="container my-5">
    <h3>About me</h3>
    <p>This is a blog web app built using Blazor Server with .NET 7 by Bin Li</p>
</div>
@code {

}
