@inject CategoryService CategoryService
<h3>Categories</h3>
<hr />
<ul class="list-unstyled">
    @foreach (var category in _categories)
    {
        var categoryPostsLink = $"/c/{category.Slug}/posts";
        <li class="mb-1 border-bottom p-1">
            <NavLink href="@categoryPostsLink" class="text-decoration-none fs-6 py-2 ">@category.Name</NavLink>
        </li>
    }
</ul>

@code {
    private IEnumerable<Category> _categories = Enumerable.Empty<Category>();
    protected override async Task OnInitializedAsync()
    {
        if (!_categories.Any())
        {
            _categories = await CategoryService.GetCategoriesAsync();
        }
    }
}
